@import "../../colors.css";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  padding: 1rem;
  text-align: center;
}

.footer-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.footer-logo {
  width: clamp(3.5rem, 12vw, 5rem);
  flex-shrink: 0;
}

.footer-title {
  font-size: x-large;
  text-align: center;
}

.footer-subtitle {
  font-size: medium;
  white-space: nowrap;
}

.footer-moto {
  font-size: large;
  font-style: italic;
}

p {
  color: var(--color-table-header);
}

.social-icon {
  width: 1.5rem;
  max-width: 100%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

@media screen and (min-width: 700px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-brand {
    justify-content: space-between;
    margin-bottom: 0;
  }
}
