@import "../../colors.css";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
  line-height: 1.2;
}

.content-container {
  margin: 1rem;
  flex: 1;
}

.content-container p {
  color: var(--color-text);
}

.about-intro,
.about-intro-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-intro-text h1 {
  margin-bottom: 1rem;
}

.about-intro img {
  width: 100%;
  object-fit: cover;
  height: clamp(12rem, 30vw, 24rem);
}

.about-intro-text h2 {
  color: var(--color-primary);
}

hr {
  border-color: var(--color-border);
  width: 100%;
}

.explore-section {
  display: grid;
  gap: 1rem;
}

.explore-section-title {
  grid-column: 1 / -1;
}

.explore-section-card img {
  width: 100%;
  height: clamp(10rem, 20vw, 18rem);
  object-fit: cover;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
}

.features-section {
  display: grid;
  gap: 0.5rem;
  column-gap: 1rem;
}

.features-section-title {
  grid-column: 1 / -1;
}

.features-section-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.features-section-item img {
  width: clamp(3rem, 10vw, 5rem);
}

.features-section-item-text {
  display: grid;
  gap: 0.25rem;
}

@media screen and (min-width: 600px) {
  .explore-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .features-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .features-section-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 0.1rem solid var(--color-border);
    padding-right: 1rem;
    text-align: center;
  }

  .features-section-item:last-child {
    border-right: none;
  }

  .features-section-item img {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .about-intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .about-intro {
    gap: 0;
  }

  .about-intro img {
    width: 100%;
  }

  .about-intro-text {
    justify-content: space-around;
    gap: 0;
  }

  .about-intro hr {
    grid-column: 1 / -1;
  }

  .about-intro-text h2:nth-of-type(2) {
    margin-top: 1.5rem;
  }

  @media screen and (min-width: 1000px) {
    .about-intro {
      gap: 2rem;
    }
  }
}
